{% load static %}

<!doctype html>
<html lang="es">

<head>
  <title>
    {% block titulo %}
    {% endblock %}
  </title>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Código de instalación Cliengo para http://127.0.0.1:8000/ -->
  <script
    type="text/javascript">(function () { var ldk = document.createElement('script'); ldk.type = 'text/javascript'; ldk.async = true; ldk.src = 'https://s.cliengo.com/weboptimizer/640523963919d3002556b659/640523983919d3002556b65c.js?platform=dashboard'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ldk, s); })();</script>

  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'icons/FavLOGO.png' %}">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <script src="https://kit.fontawesome.com/ec2664fbe6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'contactus' %}">Contáctanos<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart' %}">Carrito</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_projects' %}">Mis Proyectos</a>
          </li>
          {% if user.is_authenticated %}
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{%  url 'admin:index' %}">Administrador</a>
          </li>
          {% else %}

          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{%  url 'logout' %}">Salir</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{%  url 'signin' %}">Registrarse</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div class="container-contenido">
      {% block contenido %}

      {% endblock %}
    </div>
  </main>

  <footer style="position: relative;">
    <div class="footer-container">
      <div class="left box">
        <h2>Redes sociales</h2>
        <div class="cont">

          <div class="social">
            <a class="btn btn-dark" href="https://es-la.facebook.com/" role="button"><i
                class="fab fa-facebook-f"></i></a>

            <a class="btn btn-dark" " href=" https://twitter.com/?lang=es" role="button"><i
                class="fab fa-twitter"></i></a>

            <a class="btn btn-dark" href="https://www.instagram.com/" role="button"><i class="fab fa-instagram"></i></a>

            <a class="btn btn-dark" " href=" https://www.youtube.com/" role="button"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>

      <div class="center box">
        <a href="{% url 'about' %}">
          <h2>Conócenos</h2>
        </a>
        <div class="cont">
          <p>Proporcionamos soluciones innovadoras a problemas complejos.</p>
        </div>
      </div>

      <div class="right box">
        <h2> Póliticas de privacidad</h2>
        <div class="cont">
          <div class="politic">
            <p>
              Esta página no se hace responsable del mal uso de información por parte del usuario.
              Para mayor información puede consultar la normativa internacional de manejo de información.
              <hr style="background-color: transparent;">
            <p>●
              <a href="http://iima.org/wp/">IMMA</a>
            </p>
            </p>
          </div>
          <div class="politic">

            <p>● <a href="#">FAQ</a>
            </p>
            <hr style="background-color: transparent;">
          </div>
          <div class="politic">
            <p>
              Todos los derechos reservados.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!--Cart script-->
  <script src="{% static 'js/script.js' %}"></script>
  {% block javascript %}
  {% endblock %}
</body>

</html>