<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" >Eliminar Archivo</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="col-md-12 offset-md-0">
            <form action="{% url 'delete_file' pk=archivo.id %}" method="POST" class="card card-body text-left" >
                {% csrf_token %}
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el Archivo "{{ archivo }}"?</p>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input class="btn btn-primary btn-sm center" type="submit" value="Aceptar">
                        <input type="button" class="btn btn-secondary btn-sm center" value="Cancelar">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
