{% extends 'base.html' %}

{% block titulo %}
    Contáctanos
{% endblock %}

{% block contenido %}
    <div class="content">
        <b>Contáctanos</b>  
        <div class="info-container me-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.779961801275!2d-78.97717428587177!3d-2.8797269979024507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd1781c898f975%3A0xfd4a76bc986f8990!2sTec%20Azuay%20INSTITUTO%20UNIVERSITARIO!5e0!3m2!1ses!2sec!4v1673904141641!5m2!1ses!2sec" 
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="information">
                <b>
                    <i class="bi bi-geo-alt"></i>
                    Dirección:
                    <b class="subtitle">Octavio Chacón</b>
                </b>
                <b>
                    <i class="bi bi-envelope"></i>
                    Correo electrónico:
                    <b class="subtitle">tecazuay@gmail.edu.ec</b>
                </b>
                <b>
                    <i class="bi bi-telephone"></i>
                    Teléfono:
                    <b class="subtitle">0987654321</b>
                </b>
            </div>
        </div>
    </div>
{% endblock %}